* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Pengaturan font dan background */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    padding: 20px;
}

.Bagian {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Header CV */
header {
    text-align: center;
    margin-bottom: 30px;
}
img {
    width: 240px;
}

header h1 {
    font-size: 36px;
    color: #333;
}

header p {
    font-size: 18px;
    color: #777;
}

/* Bagian Informasi Pribadi */
.info, .experience, .education, .skills {
    margin-bottom: 20px;
    border-style: solid;
}

h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
}

ul li {
    margin-bottom: 10px;
}

ul li strong {
    color: #333;
}

/* Pengalaman Kerja */
.experience h3 {
    font-size: 20px;
    color: #555;
}

.experience p {
    font-size: 16px;
    color: #666;
}

/* Keahlian */
.skills ul {
    display: flex;
    flex-wrap: wrap;
}

.skills li {
    background-color: #007bff;
    color: white;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
    font-size: 14px;
}